@tailwind base;
@tailwind components;
@tailwind utilities;

div{
	/* border:1px solid yellow */
}
body{
	/* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */

	/* background: linear-gradient(#000000, #000ff0); */
}

.box{
	background-color: rgb(24, 19, 19);

}

.outerBox{
	/* border: 1px solid red; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 80%; */
height: 100vh;
	margin: 10px;

	/* border: 2px solid yellow; */
   
}


.noSelectedConvo{
	/* border: 1px solid red; */
	background-color: rgb(210, 222, 233);
	color: black;
	font-size: 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
}